.ArticleList {
  position: relative;
  left: 8px;
  width: 1036px;
  margin: 30px auto 30px;

  & a:visited {
    color: #909090;
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  &-end,
  &-loading {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media (min-width: 769px) {

  .ArticleList {

    &-web {
      display: block;
    }

    &-phone {
      display: none;
    }
  }
}
@media (max-width: 769px) {

  .ArticleList {
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #fff;

    &-web {
      display: none;
    }

    &-phone {
      display: block;
      margin-top: 24px;
      margin-bottom: 30px;
    }
  }
}
