$prefixAppHeaderLayout: "AppHeaderLayout";
$prefixAppHeader: "AppHeader";
$appHeaderHeight: 60px;

.#{$prefixAppHeaderLayout} {
  width: 100%;
}

.BaseHeaderBox {
  position: relative;
  height: $appHeaderHeight;
}

.BaseHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transform: translateZ(0);
  transition: all 0.2s;
}

.#{$prefixAppHeader} {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: $appHeaderHeight;
  padding: 0 24px;
  color: rgba(255, 255, 255, 1);
  line-height: $appHeaderHeight;
  background-color: #fff;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

  &-inlineLeft {
    display: flex;
  }

  &-inlineRight {
    display: flex;
    align-items: center;
  }
}

.NavLogo {
  display: flex;
  align-items: center;
  margin-right: 40px;

  &-img {
    width: 30px;
    height: 30px;
  }
}

.NavMenu {
  display: flex;

  .NavLink {
    z-index: 10;
    padding: 0 14px;
    line-height: $appHeaderHeight;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 28px;
    }

    &-anchor {
      color: #71777c;
      font-size: 14px;
    }

    &.is-active .NavLink-anchor,
    &:hover .NavLink-anchor {
      color: #57a6af;
    }

    &.is-active {
      color: transparent;
      border-bottom-color: #57a6af;

      &:focus {
        outline: 0;
      }
    }
  }
}

.AppHeadOverlay-icon {
  color: #71777c;
  font-size: 16px;
  cursor: pointer;
}
