.ArticleHeadInfo {
  display: flex;
  margin-bottom: 24px;

  &-avatar {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    background-color: lightgray;
    border-radius: 50%;
  }

  &-authName {
    display: inline-block;
    max-width: 100%;
    color: #333;
    font-weight: 700;
    font-size: 15px;
  }

  &-article {

    &Time {
      margin-right: 5px;
      letter-spacing: 1px;
    }

    &Time,
    &Count {
      color: #909090;
      font-size: 13px;
    }
  }
}
